<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Cuenta</title>
    <link rel="stylesheet" href="../css/styles-tv2.css">
</head>
<body>
    <div class="container-tv2">
        <div class="image-section-tv2">
            <img class="image-tv2" src="../images/principal.png" alt="Avión">
        </div>
        <div class="background-rect-tv2">
            <h1>RECUPERAR CUENTA</h1>
            <div class="input-group-tv2">
                <label for="Correo electrónico">Email</label>
                <input type="text" id="email" placeholder="Ingresa tu correo electrónico">
                <small>Ingresa tu correo electrónico</small>
            </div>
            <div class="input-group-tv2">
                <label for="celular">Celular</label>
                <input type="text" id="celular" placeholder="Ingresa tu número de celular">
                <small>Ingresa tu número de celular</small>
            </div>
            <div class="input-group-tv2">
                <label for="codigo">Código de verificación</label>
                <div class="input-with-button-tv2">
                    <input type="text" id="codigo" placeholder="Ingresa tu código">
                    <button id="send-code">Enviar</button>
                </div>
                <small>Ingresa tu código</small>
            </div>
        </div>
    </div>
    <script src="../script/scripts.js"></script>
</body>
</html>




