<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta Corporativa</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="container">
        <div class="background-rect">
            <h1>CUENTA CORPORATIVA</h1>
            <p>¡Hemos detectado un correo corporativo de la aerolinea!<br>Ingresa tu Pin para ingresar como ADMINISTRADOR</p>
            <div class="input-group">
                <label for="pin">Código de verificación</label>
                <input type="text" id="pin" placeholder="Ingresa tu código">
                <button id="send-pin">Enviar</button>
            </div>
        </div>
    </div>
    <script src="../script/scripts.js"></script>
</body>
</html>


