<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Singapur Airlines</title>
    <link rel="stylesheet" href="../css/styletv6.css" />
  </head>
  <body>
    <div class="TV">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="fondo"></div>
          <div class="header">
            <div class="cuenta-corp">SINGAPUR AIRLINES</div>
            <div class="cuenta-corporrativa-wrapper">
              <div class="text-wrapper">SANTIAGO RIVERA<br />ADMINISTRADOR</div>
            </div>
            <img class="image" src="../images/usuario.png" alt="Icono de usuario" />
          </div>
          <div class="section-wrapper">
            <!-- Botón de administración de usuarios en la misma posición -->
            <button class="rectangle admin-box" id="admin-button">
              <div class="text-wrapper-3">ADMINISTRACIÓN DE USUARIOS</div>
            </button>
            <!-- Botón de gestión de vuelos en la misma posición -->
            <button class="rectangle-2 flight-box" id="flight-button">
              <div class="text-wrapper-2">GESTIÓN DE VUELOS</div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="../script/scripts.js"></script>
  </body>
</html>

